<%- contentFor('body') %>
<div class="Product">
  <div class="create">
    <form action="/update/<%= product.id %>" method="post">
      <label>Nome Produto:</label>
      <input
        type="name"
        name="name"
        placeholder="<%= product.name %>"
        required
      />
      <select id="category" name="category">
        <% for (category of categories){%>
        <option value="<%= category.name %>"><%= category.name %></option>
        <% } %>
      </select>
      <button type="submit">Cadastrar</button>
    </form>
  </div>
</div>
<script>
  function value() {
    var value = (document.getElementById("category").value =
      "<%= product.category %>");
  }
  value();
</script>
