<%- contentFor('body') %>
<div class="container">
  <div class="form">
    <form action="/update/<%= product.id %>" method="post">
      <label>Nome Produto:</label>
      <input id="name" type="name" name="name" required />
      <select id="category" name="category">
        <% for (category of categories){%>
        <option value="<%= category.name %>"><%= category.name %></option>
        <% } %>
      </select>
      <button type="submit">Cadastrar</button>
    </form>
  </div>
</div>
<script>
  function value() {
    var value = (document.getElementById("category").value =
      "<%= product.category %>");
  }
  function name() {
    var name = (document.getElementById("name").value = "<%= product.name %>");
  }
  value();
  name();
</script>
